
@{
    Layout = null;
}

<form class="fmDonate" action="https://service.payware.com.tw/wpss/authpay.aspx" method="post">
    <input type="hidden" id="OrderNo" name="OrderNo" />
    <input type="hidden" id="MerchantId" name="MerchantId" />
    <input type="hidden" id="TerminalId" name="TerminalId" />
    <input type="hidden" id="Encoding" name="Encoding" value="utf-8" />
    <input type="hidden" id="MerchantName" name="MerchantName" />
    <input type="hidden" id="PayType" name="PayType" />
    <input type="hidden" id="Amount" name="Amount" />
    <input type="hidden" id="Mobile" name="Mobile" />
    <input type="hidden" id="CardHolder" name="CardHolder" />
    <input type="hidden" id="Product" name="Product" />
    <input type="hidden" id="Email" name="Email" />
    <input type="hidden" id="GoBackURL" name="GoBackURL" />
    <input type="hidden" id="ReturnUrl" name="ReturnUrl" />
    <input type="hidden" id="ReceiveUrl" name="ReceiveUrl" />
    <input type="hidden" id="Installment" name="Installment" />
</form>