
@{
    ViewBag.Title = "華光服務";
}

<main class="servicePage border">
    <!-- bannerBlock -->
    <div class="bannerBlock border">
        <div class="banner_02 border">
            <div class="bannerTitleBlock border">
                <img src="~/assets/img/elements/titleImage/titleImage_02.png" alt="">
                <p>Services</p>
            </div>
        </div>
        <div class="breadCrumbs border">
            <ul>
                <li><a href="@Url.Action("Index","Home")">首頁</a></li>
                <li class="disPlay"><a href="@Url.Action("Service","Home")">華光服務</a></li>
            </ul>
        </div>
    </div>
    <main class="main">
        <div class="serviceTitleBlock border">
            <p class="mainTitle">華光服務</p>
        </div>
        <div class="serviceTabsBlock border">
            <ul class="serviceTabs border">
                <li class="tabItem border">華光小天使</li>
                <li class="tabItem border">急難救助</li>
                <li class="tabItem border">臨終關懷</li>
            </ul>
        </div>
        <div class="tabsContentsBlock border">
            <div class="tabContent">
                <div class="angelContents border">
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">給孩子吃飽，學得更好</p>
                            </div>
                            <div class="contentText border">
                                <p>華光功德會20年來一直在做的事。從民國89年起，以白米物資義助全台逾50所小學。早期是以中區華光為主要服務地區，但從民國99年起，「華光小天使」在華光北中南三區及全台各地正式開跑。</p>
                                <p>目前華光全台合作已超過80所小學，每月受惠的「華光小天使」人數已超過1800人。截至2019年，華光功德會已經送出1483噸的白米，讓上萬個孩子健康長大，學習更好。</p>
                            </div>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="angelImage">
                            <img src="~/assets/img/elements/materialImage_13.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="angelContents border">
                    <div class="contentBlock border">
                        <div class="titleBlock">
                            <p class="mainTitle">伸手 就能救助貧窮的孩子</p>
                        </div>
                        <div class="contentText border">
                            <p>或許您難以相信，但在台灣確實還有很多等待「華光功德會」幫助的小天使，不論偏遠地區或都會城鄉，仍有清寒學子在嚴苛困苦的生活條件下求學，尤其現今景氣低彌，低收入家庭愈來愈多，再加上父母離異、無固定工作、單親、隔代教養、意外事故等，都是造成貧窮的主因。</p>
                        </div>
                    </div>
                </div>
                <div class="angelContents border">
                    <div class="contentPart border">
                        <div class="angelImage">
                            <img src="~/assets/img/elements/materialImage_14.jpg" alt="">
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">更多的孩子 更重的擔子</p>
                            </div>
                            <div class="contentText border">
                                <p>全台開辦之後，我們幫助的清寒學童將會愈來愈多，這項贊助行動的負擔也會愈來愈重。為了讓更多的小天使們能「吃飽飽去上學」，華光更迫切需要大家的同心參與。</p>
                            </div>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">您的愛 讓孩子變天使</p>
                            </div>
                            <div class="contentText border">
                                <p>愛的力量，能讓困境中孩童下茁壯，擁有朝夢想飛近的力量！歡迎加入贊助行列，共同幫助更多的「華光小天使」。您有愛，他們就有希望。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabContent">
                <div class="rescueContents border">
                    <div class="contentPart border">
                        <div class="rescueImage">
                            <img src="~/assets/img/elements/materialImage_18.jpg" alt="">
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="rescueImage">
                            <img src="~/assets/img/elements/materialImage_19.jpg" alt="">
                        </div>
                        <div class="rescueImage">
                            <img src="~/assets/img/elements/materialImage_20.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="rescueContents border">
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">送愛到需要的地方</p>
                            </div>
                            <div class="contentText border">
                                <p>最近幾年世界各地天災頻仍，地水火風造成的嚴重災害，或許從不曾在人類的歷史中缺席，但別人艱困的處境，總會激發人性中悲天憫人的善良因子，讓我們發揮更多「愛」的力量，幫助更多身處苦難的人。華光功德會正是一群捨不得他人受苦，屢屢挺身而出保護弱勢的人的集合，總是在最短的時間裡，將「愛」送到需要的地方。</p>
                            </div>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentPart border">
                            <div class="contentBlock border">
                                <div class="titleBlock">
                                    <p class="mainTitle">施與受 成就有情天地</p>
                                </div>
                                <div class="contentText border">
                                    <p>華光功德會，是真佛宗弟子呼應蓮生活佛救世濟人的慈悲大願所成立。不過，它不僅代表真佛宗，更代表著千千萬萬顆有「愛」的心，共同匯聚成一股善的大力，盡一切可能消弭人世間的苦痛，在苦難者心中，撒下一顆顆愛的種子，在施與受之間，形成一個連綿不斷的善循環，在地水火風空的假合世界裡，成就一個燦爛溫馨的有情天地。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rescueContents border">
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">匯聚眾人的愛 華光做了這些</p>
                            </div>
                            <div class="contentText border">
                                <p>雖說為善不欲人知，但為了讓每一位贊助華光功德會的人明白，我們將眾人匯聚的愛心送到何方，又完成了那些社會關懷計劃，華光將近年來的工作大綱與方向列於下方，希望更多人加入我們，支援華光的送「愛」行動，讓這個世界更良善，更美好。</p>
                            </div>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="rescueImage">
                            <img src="~/assets/img/elements/materialImage_17.jpg" alt="">
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <ul>
                                <li>日本震災：台灣區共募得68萬元，由吳理事長代表華光，委託在日本震災中救助災民不遺餘力的蓮花靜香上師，請她代為協助災民。</li>
                                <li>南亞震災：台灣區共募得234萬元，款項均匯至印尼蘇北華光功德會帳戶，並委由蓮潤上師監督運用。</li>
                                <li>八八水災：水災期間費用支出487萬元，並於災後集資410萬元，分別於高雄縣那瑪夏鄉　興建聯外橋樑「蓮生一號橋」，桃源鄉興建「蓮生二號橋」，六龜鄉興建「蓮生三號橋」，給災民一條平安回家的路。</li>
                                <li>「華光小天使」白米濟助：每月支出將近50萬元，捐助白米給2200位國小清寒學童，並給予誠摯的關懷。</li>
                                <li>各學校生活物資濟助：視學生的不同需求，至各國中、國小致贈生活物資、禦寒衣物、或補助營養午餐等。</li>
                                <li>急難救助金：發放急難救助金給有需求的民眾。</li>
                                <li>獎助學金：致贈成績優秀的清寒學童獎助學金，鼓勵積極學習。</li>
                                <li>愛心義診—健康關懷：不定期組織醫療團隊，到偏鄉義診。</li>
                                <li>義務粉刷災區住家—住的關懷：八八水災後，為災區居民義務粉刷，協助景觀重建。</li>
                                <li>捐贈災區學生辭典—學習關懷：不定期捐贈學生辭典或書籍，鼓勵自主學習。</li>
                                <li>各鄉鎮濟助物資發放—生活關懷：例如八八災後高雄旗山鎮、茂林鄉物資發放，或台東縣冬令救濟等。</li>
                                <li>顯教法師救助金—關懷出家僧眾：八八水災後，對於災區中未受明顯照顧的顯教法師，特別發放救助金。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabContent">
                <div class="hospiceContents border">
                    <div class="contentBlock border">
                        <div class="titleBlock">
                            <p class="mainTitle">什麼是「臨終關懷」?</p>
                        </div>
                        <div class="contentText border">
                            <p>在醫學上，廣義的「臨終關懷」包含了在尚未臨終前的「安寧療護」，希望能讓患者在溫馨柔軟的照護之中，以平和的心境接受死亡，安詳而尊嚴的離去。</p>
                            <p>而在佛門密教中，所謂的「臨終關懷」，就是以「中陰聞教得度法」，對臨終之人或亡者，以「臨終助念」的形式，施行「中陰救度」，引領亡者的中陰（靈魂），安然度過種種由業力顯化的中陰現象，順利度過生死的大海，往生善處，甚至往生佛國淨土。</p>
                        </div>
                    </div>
                </div>
                <div class="hospiceContents border">
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">做往生者最後的依靠</p>
                            </div>
                            <div class="contentText border">
                                <p>我們應該為亡者做什麼？</p>
                                <p>蓮生活佛開示，「地藏經」教導我們：</p>
                                <p>要替亡者修善事；要替亡者修法事。</p>
                                <p>要替亡者讀經。念佛持咒。</p>
                                <p>懸一旛。</p>
                                <p>懸一蓋。</p>
                                <p>少香少華供養佛像及菩薩像。</p>
                                <p>燒香供養一句一偈。</p>
                            </div>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="hospiceImage">
                            <img src="~/assets/img/elements/materialImage_21.jpg" alt="">
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="contentText border">
                                <p>蓮生活佛說這些對亡者都很重要，而在「華光臨終關懷」工作中，這些重要元素都涵蓋其中，透過這些「善功福德」的因緣，再加上臨終之時真佛密法的真實引領，安定亡者的神識，才能真正幫助亡者往生善處。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hospiceContents border">
                    <div class="contentPart border">
                        <div class="hospiceImage">
                            <img src="~/assets/img/elements/materialImage_22.jpg" alt="">
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">華光臨終關懷團隊</p>
                            </div>
                            <div class="contentText border">
                                <p>華光功德會臨終關懷團隊，從1998年開始成立，迄今已十餘年。所從事的臨終關懷工作，可細分為替亡者助念的「白事誦經」，及撫慰病人心靈的「臨終關懷」。華光南區分會目前以「白事誦經」居多，若家屬有「臨終關懷」需求，委由楠梓同修會的蓮型法師及蓮姆法師帶領前往服務。</p>
                            </div>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">中陰法教安頓人心</p>
                            </div>
                            <div class="contentText border">
                                <p>雖然華光功德會的主要工作是急難救助，但蓮生活佛希望華光功德會也能「拯人心靈」，而臨終關懷正是其中最重要的一項。在真佛密法中陰法教的引領下，不但令亡者順利往生善處、以佛法安頓陽居家眷的憂思之心，更能令人啟發信心，進而學佛自度。</p>
                            </div>
                        </div>
                    </div>
                    <div class="contentPart border">
                        <div class="contentBlock border">
                            <div class="titleBlock">
                                <p class="mainTitle">臨終關懷服務申請辦法</p>
                            </div>
                            <div class="contentText border">
                                <p>一般民眾對於「華光臨終關懷」服務有任何需求或疑問，請於上班時間，致電華光功德會中區分會、南區分會申請。也可以在「下載專區」中，下載「<a href="">臨終關懷助唸申請表</a>」，填寫後傳真至華光功德會中區分會、南區分會，我們將儘快與您聯絡。</p>
                                <p>華光臨終關懷助念服務地區為「台中、彰化、南投、雲林、嘉義、高雄、台南、屏東」。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</main>